---
# -*- engine:liquid -*-
layout: default
---

<article id="intro">
  <div class="container">
  <section>
    <h1><span class="name">33x</span>
      specializes in machine learning and robotics consulting.</h1>
    <h2>We help companies develop systematic and sustainable solutions
      for their data, machine learning, automation and robotics needs.</h2>
  </section>
  </div>
</article>

<article id="about">
  <div class="container">
  <h1>About</h1>
  <p>We offer custom expert solutions to difficult problems. Our
    team has more than two decades of academic and industrial
    experience developing state-of-the-art systems in a variety of fields.
  </p>
  {% for area in site.data.areas %}
    <section class="area">
      <h2> {{ area.title }} </h2>
      <p> {{ area.content }} </p>
    </section>
  {%  endfor %}
  </div>
</article>

<article id="team">
  <div class="container">
  <h1>Team</h1>
  {% for member in site.data.team %}
    <section class="person">
      <img src="{{ site.baseurl }}/assets/{{ member.photo }}"/>
      <h2> {{ member.name }} </h2>
      <h3> {{ member.title }} </h3>
      {{  member.bio | markdownify }}
    </section>
  {% endfor %}
  </div>
</article>
