

$base-dark: #444; 
$base-light: #EEE;

body {
  color: $base-dark;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  a {
    color: $base-light;
  }
  
  label {
    color: $base-light;
  }
  
  #menu:checked + label {
    border-bottom: 1px solid $base-light;
  }

}

article {
  a {
    color: $base-dark;
  }
}

footer {
  background: black;
  color: $base-light;
  a {
    color: $base-light;
    &:hover {
      color: red;
    }
  }
}

article {
  h1 {
    color: grey;
  }
}

#intro {
  h1, h2 {
    color: $base-light;
  } 

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
              url("/assets/newyork.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}