$base-dark: #444; 
$base-light: #eee;
$brand-color-01: gold;

body {
  color: $base-dark;
}

header {
  background-color: rgba(50, 50, 50, 0.9);
}

nav {
  a:first-of-type {
    color: $brand-color-01;
  }

  a {
    color: darken($base-light, 30%);
  }
  
  label {
    color: rgba($brand-color-01, 1);
  }

  #menu:checked + label {
    border-bottom: 1px solid $base-light;
  }

}

article {
  a {
    color: $base-dark;
  }
}

footer {
  background: $base-dark;
  color: $base-light;
  a {
    color: $base-light;
    &:hover {
      color: red;
    }
  }
}

article {
  h1 {
    color: darken($base-light, 10%);
  }
}

#intro {
  h1, h2 {
    color: $base-light;
  }

  .name {
    color: $brand-color-01; 
  }

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
              url("/assets/newyork.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}