body {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

@mixin page-center-children() {
  > * {
    width: 100%;
    max-width: $max-width;
    margin: auto;
  }
}

header {
  width: 100%;
  position: fixed;
  z-index: 2;
  @include page-center-children();
}

main {
  /* padding-top: 2 * unit(); */
  article {
    @include page-center-children();
  }
}

footer {
  @include page-center-children();
}

nav {
  display: flex;
  flex-flow: column;

  a {
    display: none;
    padding: unit(0.5) ;
  }

  label {
    padding: unit(0.5) unit(1);
    text-align: right;
    cursor: pointer;
    user-select: none;
  }
  
  #menu {
    display: none;

    &:checked ~ a {
      display: block;
    }
  }

  @include media(medium) {
    flex-flow: row nowrap;
    justify-content: flex-end;
    
    label {
      display: none;
    }

    a  {
      display: block;
      min-width: 100% * (1/12);
      text-align: right;
      
      &:first-of-type {
        text-align: left;
        margin-right: auto;
      }
    }

    #menu {
      display: none;
    }
  }
}

article .container {
  padding-top: 1.5 * unit();

  text-align: left;
  
  display: flex;
  flex-flow: column;

  > * {
    padding: 0 unit(0.5);
  }
  
  > h1, > p {
    width: 100%;
  }
  
  section {
    img {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  @include media(medium) {
    padding-bottom: 2 * unit();
  }
  
  @include media(large) {
    flex-flow: row wrap;
    justify-content: space-around;
    
    section {
      width: calc(100% / 2);
    }
  }
  
  @include media(x-large) {
    section {
      width: calc(100% / 3);
    }
  }
}

#intro {
  min-width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#intro .container {
  section {
    margin: auto;
    text-align: center;
    @include media(medium) {
      width:100%;
      max-width: 100% * (10/12);
    }
  }
}

#about .container {
  justify-content: flex-start;  
}

#team .container {
  section {
    img {
      border-radius: 50%;
      max-width: 8 * unit();
      margin-bottom: unit();
    }
  }
  @include media(medium) {
    justify-content: space-around;
    section {
      width: 100%;
    }
  }
  @include media(large) {
    section {
      width: 100% * (5/12);
    }
  }
  
}

#contact .container {
  width: 100%;
  margin-bottom: 0;
  padding-top: 2*unit();
  padding-bottom: unit();

  .address {
    white-space: pre;
  }

  @include media(large) {
    justify-content: space-around;
    section {
      text-align: left;
      width: 100% * (5/12);
    }
  }
}

