@import   "https://fonts.googleapis.com/css?family=Noto+Sans|Noto-Serif|Inconsolata";

$font-sans: 'Noto Sans', sans-serif;
$font-serif: 'Noto Serif', serif;
$font-mono: 'Inconsolata', monosapace;

$base-line-height: 1.5;

$max-width: (36 + 2) * unit();

@import "layout";
@import "type";
@import "color";
