html {
  font-size: 16px;
  @include media(medium) {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  font-family: $font-sans;
  font-weight: bold;
}

p {
  font-family: $font-serif;
}


h1 {
  @include heading(2.625);
}

h2 {
  @include heading(1.625);
}

h3 {
  @include heading(1);
}

h4 {
  @include heading(1);
}

p {
  @include base();
}

a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  a {
    font-family: $font-mono;
    font-size: unit(0.8);
    font-weight: bold;
    text-transform: uppercase;
  }
}

#intro
{
  h2 {
    @include heading(1.2);
  }
}

#contact {
  h3, p, a {
    font-family: $font-sans;
  }
  .email {
  }
}