@import   "https://fonts.googleapis.com/css?family=Noto+Sans|Noto-Serif|Inconsolata|Roboto:normal,bold,italic,900|Roboto+Slab|Roboto+Condensed";

$font-sans: 'Roboto', sans-serif;
$font-serif: 'Noto Serif', serif;
$font-menu: 'Roboto Condensed', sans-serif;
$font-mono: 'Inconsolata', monosapace;

html {
  font-size: 16px;
  @include media(medium) {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  font-family: $font-sans;
  font-weight: bold;
}

p {
  font-family: $font-sans;
}


h1 {
  @include heading(1.44);
}

h2 {
  @include heading(1.2);
}

h3 {
  @include heading(1);
}

h4 {
  @include heading(0.833);
}

p {
  @include base();
}

a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  a {
    font-family: $font-menu;
    font-size: unit(0.62);
    font-weight: bold;
    text-transform: uppercase;
  }
}

article {
  h1 {
    text-transform: uppercase;
    font-weight: 900;
  }
}

#intro
{
  h1 {
    text-transform: none;
    @include heading(2.488);
    @include media(x-large) {
      @include heading(4.29);      
    }
  }
  h2 {
    font-weight: normal;
    @include heading(1.2);
    @include media(x-large) {
      @include heading(1.44);
      line-height: 1.2;
    }
  }
}

#team {
  h2 {
    margin-bottom: 0;
  }
  h3 {
    font-style: italic;
  }
}

#contact {
  h3, p, a {
    font-family: $font-sans;
    font-weight: normal;
  }

  .email {
  }
}